<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upgrades</ion-title>
    <ion-buttons slot="end">
      <span class="cred-count">{{ currentCreds | async }} creds</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="upgrades-page">
  <ion-list id="upgrades-list" lines="none">
    <!-- <ion-item-divider>
      <ion-label>
        Section A
      </ion-label>
    </ion-item-divider> -->
    <app-upgrade
      [upgradeType]="upgrades.maxGambleLoss"
      title="Gamble Loss"
      description="The max amount of credits you could lose while gambling">
    </app-upgrade>
    <app-upgrade
      [upgradeType]="upgrades.maxGambleGain"
      title="Gamble Gain"
      description="The max amount of credits you could gain while gambling">
    </app-upgrade>
    <app-upgrade
      [upgradeType]="upgrades.maxWager"
      title="Max Wager"
      description="The max amount of credits you can wager at a single time">
    </app-upgrade>
  </ion-list>
</ion-content>
