ion-item {
    --padding-top: 6px;
    --padding-bottom: 6px;
    color: white; 
    -webkit-box-shadow: 0px 1px 1px 0px var(--ion-color-dark-shade); 
    box-shadow: 0px 1px 1px 0px var(--ion-color-dark-shade);

    ion-grid.upgrade-info {
        width: 40%;
        color: white;

        .upgrade-title {
            font-size: 13px;
            font-weight: 700;
            margin-top: 0px;
        }

        .upgrade-description {
            font-size: 11px;
        }
    }

    ion-grid.upgrade-controls {
        margin: 0px;
        max-width: 40%;

        h3.controls-number {
            margin: 0px;
            color: white;
        }
    }
}

:host {
    ion-button.button-solid {
        --background: var(--ion-color-dark-shade);
        --padding-top: 15px;
        --padding-bottom: 15px;
    }
}